@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.social_bar{
	flex-direction: column;
	display: flex;
	justify-content: flex-end;
}
.social_icon{
	cursor: pointer;
	color:#fff;

}
.social_icon:hover{
	color: #dc3545;
}
.banner_full {
	height: 100vh;
	width: 100%;
	background:linear-gradient(0deg, rgba(0,0,0,.3), rgba(0,0,0,.3)), url('battelfield_1_1920x1080.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	animation: slide 20s infinite; 
	font-family: 'Raleway' ,sans-serif;
}
.banner_h1{
	transition: all 1s ease-in-out
}
.banner_h1:hover{
	opacity: 0;
}
@keyframes slide {
	0%{
		background:linear-gradient(0deg, rgba(0,0,0,.3), rgba(0,0,0,.3)), url(assassins.jpg);
		background-position: center;
		background-size: cover;
	}
	33%{
		background:linear-gradient(0deg, rgba(0,0,0,.3), rgba(0,0,0,.3)), url(Forza-horizon_1920x1080.png);
		background-position: center;
		background-size: cover;
	}
67%{
	background:linear-gradient(0deg, rgba(0,0,0,.3), rgba(0,0,0,.3)), url(hitman.jpg);
	background-position: center;
	background-size: cover;
}
}
@media only screen and ( max-width: 576px) {
	.banner_h1{
		font-size: 2rem;
		
	}
}